div.playkit-watermark {
    position: relative !important;
    align-items: center !important;
    justify-content: center !important;
    margin-top: 19%;
    
    }

div.playkit-watermark img:first-of-type{
    width: 80%;
    align-items: center !important;
    flex: auto !important;
    }
